/*reset*/
/* Fonts */

@font-face {
  font-family: "nyt-franklin";
  font-style: normal;
  src: url(https://g1.nyt.com/fonts/family/franklin/franklin-normal-700.b44c88f09ca7ce914b836d4ae72891b8.woff2);
}
/* Navbar Styling */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  border-bottom: 1px solid #e2e2e2;
}

.insidenav {
  margin: 0 auto;
  max-width: 1605px;
  background: transparent;
  border-bottom: 0;
  padding: 4px 15px 2px;
  position: relative;
}

.navIcons {
  left: 10px;
  position: absolute;
  justify-content: space-evenly;
  display: inline-block;
}

.hamburgerButtton {
  border: 0;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  color: #333;
  margin-right: 8px;
  background-color: transparent;
  font-size: 11px;
  font-weight: 500;
  vertical-align: middle;
  letter-spacing: 0.02em;
  padding: 8px 9px 9px;
  line-height: 11px;
}

.hamburgerImg {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: sub;
}

.searchButton {
  padding: 8px 9px 9px;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
  background-color: transparent;
  color: #000;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  border: 0;
  position: relative;
  display: inline-block;
}

.searchImg {
  display: inline-block;
  width: 16px;
  vertical-align: sub;
  height: 16px;
}

.spaceCosmos {
  display: block;
  position: absolute;
  line-height: 19px;
  left: 105px;
  top: 10px;
}

.spaceLink {
  text-decoration: none;
  font-size: 14.25px;
  font-weight: 700;
  color: black;
  font-family: nyt-franlin, helvetica, arial, sans-serif;
  line-height: 19px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.mainLogoLink {
  width: 195px;
  height: 26px;
  margin: 6px auto 0;
  display: block;
  padding-top: 0;
}

.subsLoginButtons {
  display: flex;
  top: 4px;
  position: absolute;
  right: 10px;
  justify-content: space-around;
}

.subscribeLink {
  display: inline-block;
  margin-right: 7px;
}

.subscribeButton {
  padding: 11px 12px 8px;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;
}

.loginLink {
  display: inline-block;
  margin-right: 7px;
}

.loginButton {
  padding: 11px 12px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.invisibleBox {
  margin-top: 100px;
  color: #121212;
  font-weight: 700;
  line-height: 0.75rem;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
  position: relative;
  margin-bottom: 0.625rem;
}

.mainTitleTextHeader {
  position: relative;
  margin-bottom: 1rem;
  width: 600px;
  color: #121212;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: 700;
  font-style: italic;
  margin: 0 20px 1rem;
  max-width: 600px;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.mainTitleText {
  display: inline-block;
  max-width: 450px;
}

.mainImageContainer {
  position: relative;
}

.mainImageStyle {
  width: 945;
  max-width: 100%;
  height: auto;
  vertical-align: top;
  margin: 43px auto;
}

.mainImage {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 531.56px;
  width: 945px;
  pointer-events: none;
}
